.title{
  position: relative;
    font-size: 60px;
    margin-top: 90px;
    margin-left: 50px;
    text-shadow: 4px 6px 6px rgb(171, 156, 156);
}

:root {
    --yellow: linear-gradient(180deg, #F8D49A -146.42%, #FAD79D -46.42%);
    --orange: #fca61f;
    --black: #242d49;
    --gray: #788097;
    --purple: linear-gradient(180deg, #BB67FF 0%, #C484F3 100%);
    --pink: #FF919D;
    --glass: rgba(255, 255, 255, 0.54);
    --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
    --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
    --activeItem: #f799a354;
  }
  
  .App1 {
    /* padding: 0.5rem 3.5rem; */
    color: var(--black);
    background-color: rgb(0, 0, 0);
    height: 94.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
  }
  
  .AppGlass1 {
  
    background: var(--glass);
    background-color: var(--boxShadow);
    background-color: whitesmoke;
    /* background: linear-gradient(
        100.30deg,
        #d4d058 51.55%,
        #221920 90.85%
      ); */
    display: grid;
    height:  70%;
    width: 90%;
    border-radius: 2rem;
    gap: 10px;
    grid-template-columns: 11rem auto 20rem;
    overflow: hidden;
  }
  
  @media screen and (max-width: 1200px) {
    .AppGlass1{
      grid-template-columns: 10% 50% auto;
      overflow-y: scroll;
    } 
  }
  
  @media screen and (max-width: 768px) {
    .AppGlass1{
      grid-template-columns: 1fr;
    } 
  }

  .circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #26ec9a;
    clip-path: circle(600px at right 800px);

  }

  .circle1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #26ec9a;
    clip-path: circle(40px at  left 80px);

  }
  .circle3{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #26ec9a;
    clip-path: circle(100px at  center 400px);

  }
  .circle2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #26ec9a;
    clip-path: circle(400px at left 800px);

  }


.right{
    position: relative;
    height: 75%;
    width: 50%;
    left: 600px;
    border-radius: 700px;
}

.tag {
    position: relative;
    top: 150px;
    right: 700px;
    font-size: 100%;
    color: black;
    font-style: italic;
  }


.para{
    position: relative;
    top: 300px;
    right: 800px;
    font-size: medium;


}

.learn{
    padding: 10px 10px;
    position: relative;
}