h2,
h5 {
  margin: 0;
}

.cards {
  display: flex;
  flex-direction: row;
  margin-top: 4%;
  justify-content: center;
  align-content: space-between;
  flex-wrap: wrap;
}
/* .slide{
  display: flex;
  align-items: center;
} */

.card {
  width: 330px;
  background-color: white;
  border-radius: 1em;
  margin: 1em;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25),
    0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
  transition: all ease 200ms;
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12),
    0 8px 32px -8px hsla(0, 0%, 0%, 0.14),
    0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
}

.card:hover .blogimg {
  opacity: 0.3;
}

.card:hover .card-body h2 {
  opacity: 1;
}

.card:hover .card-body p {
  opacity: 1;
}

.card:hover .card-body .likes {
  opacity: 1;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card h2 {
  color: #222;
  /* margin-top: -0.2em; */
  line-height: 1.2;
  font-size: 1.2em;
  font-weight: 600;
  font-family: "Lora", serif;
  transition: all ease-in 100ms;
}

.card p {
  color: black;
  font-size: 0.9em;
}

.card .likes {
  color: black;
  font-size: 0.9em;
  padding: 1.2em;
  width: 90%;
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 83%;
  left: 85%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.card h5 {
  color: #bbb;
  font-weight: 700;
  font-size: 0.7em;
  letter-spacing: 0.04em;
  /* margin: 1.4em 0 0 0; */
  text-transform: uppercase;
}

.card-body h2 {
  padding: 1.2em;
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  width: 100%;
  top: 13%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  /* text-align: center; */
}
.card-body p {
  padding: 1.2em;
  width: 90%;
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.blogheader {
  position: -webkit-sticky;
  display: flex;
  position: sticky;
  width: 10%;
  align-items: center;
  text-align: center;
  justify-content: center;
  top: 0;
  height: 50%;
  margin-top: 5%;
  margin-left: 7.5%;
  font-size: 25px;
  font-family: "Lora", serif;
}

.blogimg {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
